<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Управление учётными записями </title>

    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap_custom.css">
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/handlebars-1.0.0.beta.6.js"></script>
    <script src="/static/js/otclass.js"></script>
    <script src="/static/js/otmes.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <script id="users_tmpl" type="text/x-handlebars-template">
        {% raw %}
            <table id="table_users_list" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Люди</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <td class='no_select_on_dbl_click' data-name="{{this}}">
                                {{this}}
                            </td>
                            <td>
                              <a class="mark_as_group" href="#" data-name="{{this}}" title="Отметить как группу"><i class='icon-arrow-right'></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {% endraw %}
    </script>

    <script id="groups_tmpl" type="text/x-handlebars-template">
        {% raw %}
            <table id="table_groups_list" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Группы</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <td class='no_select_on_dbl_click' data-name={{this}}>
                              {{this}}
                            </td>
                            <td>
                              <a class="unmark_as_group" href="#" data-name="{{this}}" title="Удалить признак группы"><i class='icon-remove'></i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {% endraw %}
    </script>

    <script id="tmpl_forwards_list" type="text/x-handlebars-template">
        {% raw %}
          <table id="table_forwards_list" class="table table-condensed">
            <thead>
              <tr>
                <th>Кому</th>
                <th>Удалить</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
                {{#if this.enabled}}
                  <tr>
                    <td class='no_select_on_dbl_click'>
                      {{this.filter_param}}
                    </td>
                    <td>
                      <input type="checkbox" class="remove_recipient" data-id="{{this.id}}">
                    </td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        {% endraw %}
    </script>

    <script id="tmpl_recieves_list" type="text/x-handlebars-template">
        {% raw %}
          <table id="table_forwards_list" class="table table-condensed">
            <thead>
              <tr>
                <th>От кого</th>
                <th>Удалить</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
                {{#if this.enabled}}
                  <tr>
                    <td class='no_select_on_dbl_click'>
                      {{this.filter_param}}
                    </td>
                    <td>
                      <input type="checkbox" class="remove_sender" data-from="{{this.filter_param}}" data-id="{{this.id}}">
                    </td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        {% endraw %}
    </script>
    
    <script id="view_user_tmpl" type="text/x-handlebars-template">
        {% raw %}
            <div id="div_user_info" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ login }}</h3>
              </div>
              <div class="modal-body">
              <div class="accordion" id="accordion1">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      Основное
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse {{#if is_group}} {{else}} in {{/if}}" style="height: {{#if is_group}} 0px {{else}} auto {{/if}}; ">
                    <div class="accordion-inner">
                      <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_login">Login</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_login" value="{{ login }}" {{#if new_user}}sfsdf{{/if}}disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_password">Password</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_password">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                      Дополнительное
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_iname">Имя</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_iname" value="{{iname}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_fname">Фамилия</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_fname" value="{{fname}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_bdate">Дата рождения</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_bdate" placeholder="дд.мм.гггг" value="{{birth_date}}" disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_hintq">Секретный вопрос</label>
                          <div class="controls">
                            <input type="text" id="user_info_hintq" value="{{hintq}}" disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_hinta">Секретный ответ</label>
                          <div class="controls">
                            <input type="text" id="user_info_hinta" value="{{hinta}}" disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_sex_1">Пол</label>
                          <div class="controls">
                            <label class="radio inline">
                              <input type="radio" id="user_info_sex_1" name="radio_sex" value="1" {{#if sex_male}}checked{{/if}}>
                              М
                            </label>
                            <label class="radio inline">
                              <input type="radio" id="user_info_sex_2" name="radio_sex" value="2" {{#if sex_female}}checked{{/if}}>
                              Ж
                            </label>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_eula">Публичная оферта подписана</label>
                          <div class="controls">
                            <input type="checkbox" id="user_info_eula" value="1" {{#if signed_eula}}checked{{/if}} disabled>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                      Отправляет в
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse {{#if is_group}} in {{else}} {{/if}}" style="height: {{#if is_group}} auto {{else}} 0px {{/if}};">
                    <div class="accordion-inner">
                      <div id="div_add_forward" class="input-append">
                         <input type="text" id="input_add_forward" data-from="{{login}}" placeholder="Email">
                         <button id="btn_add_forward" class="btn btn-primary" data-from="{{login}}"><i class="icon-plus"></i> Добавить</button>
                      </div>
                      <div id="modal_forwards_list">
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" title="Из списка групп домена">
                      Получает от
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      <div id="modal_recieves_list">
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
              <div id="div_modal_error" class="alert alert-error" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" id='close_info_alert'>×</button>
              </div>
              <div id="div_modal_message" class="alert alert-info" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" id='close_info_alert'>×</button>
              </div>
              <div id="div_modal_debug" class="alert alert-info" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" id='close_info_alert'>×</button>
              </div>
              <div class="modal-footer">
                <button id="btn_cancel_changes" class="btn" data-dismiss="modal">Отмена</button>
                <button id="btn_save_user" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
        {% endraw %}
    </script>


    <script type="text/javascript">
        $(document).ready(function(){
            // Настройка вывода ошибок и информации
            m = new otmes ('', {});
            m_modal = new otmes ('', {errorDiv: 'div_modal_error', messagesDiv: 'div_modal_message', debugDiv: 'div_modal_debug'});
            if (!localStorage.getItem('do_not_show_info_alert')) {
                $('#info_alert').show();
            }
            
            // Подготовка данных об актуальности списка пользователей
            var server_start_time = {{server_start_time}},
                last_sync = localStorage.getItem('yadmin_users_list_last_sync_time');
            
            // Проверяем актуальность списка пользователей
            if (last_sync != server_start_time) {
                localStorage.setItem('yadmin_users_list_last_sync_time', String(server_start_time));
                localStorage.removeItem('do_not_show_info_alert');
                console.log('last_sync', last_sync, 'server_start_time', server_start_time);
                console.log('refreshing');
                refresh_users_list()
                    .done(function(data){
                        initial_draw();
                        // demo = new OTCLASS({
                        //   'id':'users_list',
                        //   'data':tmp_data,
                        //   'div_id': 'container',
                        //   'tmpl_id': 'tmpl',
                        //   'sort':'age',
                        //   'debug':1
                        // });
                    });
            } else {
                initial_draw();
            }
            
            // Вешаем события на различные действия
            $(document).on('click', 'div.btn-group button:even', function(){
                $('div.btn-group button.btn-primary').removeClass('btn-primary');
                $(this).addClass('btn-primary').next().addClass('btn-primary');
                // console.log($(this), 'was clicked');
                localStorage.setItem('current_domain', $(this).data('domain'));
                draw_users(JSON.parse(localStorage.getItem('yadmin_users_'+$(this).data('domain'))), 'users_tmpl', 'users_table');
                draw_users(JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))), 'groups_tmpl', 'groups_table');
            })
            $(document).on('dblclick', '#table_users_list td', function(){
                view_user($(this).data('name'));
            })
            $(document).on('dblclick', '#table_groups_list td', function(){
                view_user($(this).data('name'), group=1);
            })
            $(document).on('click', '#close_info_alert', function(){
                localStorage.setItem('do_not_show_info_alert', 1);
            })

            $(document).on('click', 'a.mark_as_group', function(e){
              e.preventDefault();
              console.log($(this).data('name'));
              mark_as_group($(this).data('name')); 
            });
            $(document).on('click', 'a.unmark_as_group', function(e){
              e.preventDefault();
              console.log($(this).data('name'));
              unmark_as_group($(this).data('name'));
            });

            $('#filter_str').on('keydown', function(event){
                if (event.keyCode==13){
                    event.preventDefault();
                    filter_users();
                } else if (event.keyCode==27) {
                    $('#filter_str').val('');
                    filter_users();
                }
            })

            $(document).on('keydown', '#input_add_forward', function(event){
                if (event.keyCode==13){
                    event.preventDefault();
                    add_forward($(this).data('from'), $("#input_add_forward").val());
                }
            })
            $(document).on('click', '#btn_add_forward', function(){
                add_forward($(this).data('from'), $("#input_add_forward").val());
            })

            $("#btn_filter_users").on('click', function(e){
                filter_users();
                e.preventDefault();
            });

            $("#btn_add_user").on('click', add_user);

            $(document).on('click', "#btn_save_user", save_user);

        }) // document.ready

        function get_recieves_list(login){
          var params = {do_what: 'get_recieves_list',
                        login: login,
                        domain: localStorage.getItem('current_domain'),
                        groups: localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))};
          return $.getJSON('/mu', params).done(function(data){
            if (data.success){
              var tmpl_recieves_list = Handlebars.compile($("#tmpl_recieves_list").html());
              console.log(data);
              $('#modal_recieves_list').append(tmpl_recieves_list(data));  
            } else {m.e('Произошла ошибка')};
          })
        }  
        
        function add_forward(from, to){
          $.getJSON('/mu', {do_what: 'add_forward', domain: localStorage.getItem('current_domain'), from: from, to: to}).done(function(data){
            if (data.success){
                $("#btn_add_forward").addClass('btn-success');
                setTimeout(function () {
                    $("#btn_add_forward").removeClass('btn-success');
                }, 3000);
                $('#div_modal_error').hide();
                // var tmpl_redir = Handlebars.compile($('#forward_tmpl').html());
                get_forwards_list();
            } else {
                $("#btn_add_forward").toggleClass('btn-danger');
                setTimeout(function () {
                    $("#btn_add_forward").removeClass('btn-danger');
                }, 3000);
                m_modal.e(data.msg);
                m_modal.e(data.err);
                $('#div_modal_error').show();
            }
          })
        }
        
        function save_user(){
            var param = {};
            $.each(['login', 'password', 'iname', 'fname'], function(){
                param[this] = $('#user_info_input_'+this).val() || "";
            })
            if ($('#user_info_sex_1').is(':checked')){
                param['sex'] = 1;
            }
            else if ($('#user_info_sex_2').is(':checked')){
                param['sex'] = 2;
            } else{
                param['sex'] = '';
            }
            var forwards_to_remove = [];
            $.each($("input.remove_recipient"), function(){
              if ($(this).is(':checked')){
                forwards_to_remove.push({from: param.login, id: $(this).data('id')});
              }
            })
            $.each($("input.remove_sender"), function(){
              if ($(this).is(':checked')){
                forwards_to_remove.push({from: $(this).data('from'), id: $(this).data('id')});
              }
            })
            if (forwards_to_remove.length){
              remove_forwards(forwards_to_remove);
            }
            $.getJSON('/mu', {do_what: 'save_user_info', param: JSON.stringify(param), domain: localStorage.getItem('current_domain')}).done(function(data){
                if (data.success){
                    $("#btn_save_user").addClass('btn-success');
                    setTimeout(function () {
                        $("#btn_save_user").removeClass('btn-success');
                    }, 3000);
                    $('#div_modal_error').hide();
                    $("#btn_cancel_changes").html('Закрыть');
                    refresh_users_list().done(function(){
                        draw_users(JSON.parse(localStorage.getItem('yadmin_users_'+localStorage.getItem('current_domain'))), 'users_tmpl', 'users_table');
                    });
                } else {
                    $("#btn_save_user").toggleClass('btn-danger');
                    setTimeout(function () {
                        $("#btn_save_user").removeClass('btn-danger');
                    }, 3000);
                    m_modal.e(data.msg);
                    m_modal.e(data.err);
                    $('#div_modal_error').show();
                }
            })
        }

        function remove_forwards(login, forwards_to_remove){
          $.getJSON('/mu', {do_what: 'remove_forwards', domain: localStorage.getItem('current_domain'),
            login: login, forwards_to_remove: JSON.stringify(forwards_to_remove)}).done(function(data){
            if (data.success){
                $("#btn_add_forward").addClass('btn-success');
                setTimeout(function () {
                    $("#btn_add_forward").removeClass('btn-success');
                }, 3000);
                // $('#div_modal_error').hide();
                // $("#btn_cancel_changes").html('Закрыть');
                get_forwards_list(login);
            } else {
                $("#btn_add_forward").toggleClass('btn-danger');
                setTimeout(function () {
                    $("#btn_add_forward").removeClass('btn-danger');
                }, 3000);
                m_modal.e(data.msg);
                m_modal.e(data.err);
                $('#div_modal_error').show();
            }
          })
        }
        
        function add_user(){
            if ($("#div_user_info").length){
                $("#div_user_info").remove()
            } 
            var login = $('#filter_str').val(),
                view_user_modal = Handlebars.compile($('#view_user_tmpl').html());
            $(view_user_modal({login: login})).modal();
        }
        
        function get_forwards_list(login){
          return $.getJSON('/mu', {do_what: 'get_forwards_list', login: login, domain: localStorage.getItem('current_domain')}).done(function(data){
            var tmpl_forwards_list = Handlebars.compile($("#tmpl_forwards_list").html());
            console.log(data);
            $('#modal_forwards_list').append(tmpl_forwards_list(data));
          })
        }

        function view_user(login, if_group){
            if ($("#div_user_info").length){
                $("#div_user_info").remove();
            }
            var view_user_modal = Handlebars.compile($('#view_user_tmpl').html());
            $.getJSON('/mu', {do_what: 'get_user_info', login: login, domain: localStorage.getItem('current_domain')}).done(function(data){
                if (data.success){
                    console.log(data.items);
                    if (if_group){
                        data.items['is_group'] = 1;    
                    }
                    $(view_user_modal(data.items)).modal().one('shown', function(){
                        get_forwards_list(login);
                        get_recieves_list(login);
                      });                    
                } else{
                    m.e(data.err);
                    m.m(data.msg);
                }
            })
        }

        function initial_draw(){
            console.log('initial_draw');
            var first_button = $('div.btn-toolbar').find('div.btn-group').eq(0).find('button').eq(0);
            first_button.addClass('btn-primary').next().addClass('btn-primary');
            draw_users(JSON.parse(localStorage.getItem('yadmin_users_'+first_button.data('domain'))), 'users_tmpl', 'users_table');
            localStorage.setItem('current_domain', first_button.data('domain'));
            draw_users(JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))), 'groups_tmpl', 'groups_table');
        }

        function draw_users(users, tmpl, target){
            // Обновляем таблицу
            var users_template = Handlebars.compile($('#'+tmpl).html());
            $("#"+target).empty().append(users_template({items: users}));
        }

        function mark_as_group(name){
            // Отмечает пользователя в таблице как группу
            var groups = JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))),
                new_member = name;
            if (!groups){
                groups = [];
            }
            if (groups.indexOf(new_member) == -1){
                groups.push(new_member);    
            }
            groups.sort();
            localStorage.setItem('yadmin_groups_'+localStorage.getItem('current_domain'), JSON.stringify(groups));
            draw_users(JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))), 'groups_tmpl', 'groups_table');
        }

        function unmark_as_group(name){
            // Отмечает пользователя в таблице как группу
            var groups = JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))),
                del_member = name;
            
            if (groups.indexOf(del_member) != -1){
                groups.pop(del_member);    
            }
            localStorage.setItem('yadmin_groups_'+localStorage.getItem('current_domain'), JSON.stringify(groups));
            draw_users(JSON.parse(localStorage.getItem('yadmin_groups_'+localStorage.getItem('current_domain'))), 'groups_tmpl', 'groups_table');
        }

        function filter_users(){
            var search_str = $("#filter_str").val(),
                users = JSON.parse(localStorage.getItem('yadmin_users_'+localStorage.getItem('current_domain')));
                // tmp = convert_users_to_list(users);

            var res = $.grep(users, function(elem){
                return elem.indexOf(search_str)+1;
            })
            draw_users(res, 'users_tmpl', 'users_table');
        }

        function convert_users_to_list(users){
            var tmp=[];
            for (var i in users){
                tmp.push(users[i]['name']);
            }
            return tmp
        }

        function refresh_users_list(){
            return $.getJSON('/mu', {do_what: 'refresh_users_list'}).done(function(data){
                if (data.success){
                    $.each(data.items, function(key, val){
                        localStorage.setItem('yadmin_users_'+key, JSON.stringify(convert_users_to_list(val)));    
                    })
                    console.log('Список пользователей обновлён');
                    $(document).trigger('users_list_freshness_ok');
                } 
            });
        }
    </script>
</head>

<body>
    <div class='container'>
        <!-- <div class="navbar">
            <div class="navbar-inner"> -->
                <div class='btn-toolbar'>
                    {% for i in domains %}
                        <div class="btn-group">
                            <button class="btn" data-domain="{{ i }}" data-do_what="list_users"> {{ i }}
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class='dropdown-menu'>
                                    <li><a href="#">Настройки домена</a></li>
                                </ul>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            <!-- </div>
        </div> -->
        
        <div id="divError"></div>
        <div id="divMessage"></div>
        <div id="divDebug"></div>

        <!-- <div class="tab-content"> -->
        <!-- <form class="form-search">
          <div class="input-append">
            <input type="text" placeholder="Имя" id="filter_str" class="search-query" autocomplete="off">
            <button id="btn_filter_users" class="btn">Отбор</button>
          </div>
          <button class="btn btn-primary" type="button"><i class="icon-plus icon-white"></i> Добавить</button>
        </form> -->

        <div class="input-append">
          <input type="text" placeholder="Имя" id="filter_str" autocomplete="off">
          <button id="btn_filter_users" class="btn">Отбор</button>
          <button id="btn_add_user" class="btn" type="button"><i class="icon-plus"></i> Добавить</button>
        </div>



        <div class="alert alert-info" style="display: none;" id="info_alert">
            <button type="button" class="close" data-dismiss="alert" id='close_info_alert'>×</button>
            Двойной клик на пользователе для редактирования
        </div>
        
        <div class='row'>
            <div class="span6">
                <div id='users_table'></div>
            </div>
            <div class="span6">
                <div id='groups_table'></div>
            </div>
        </div>
        
        
        <!-- </div> -->
        <!-- <div class="container-fluid">
            <span class='span4 offset4'id="dp_nav"></span>
        </div> -->
    </div>
    
</body>
</html>