<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Управление учётными записями </title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap_custom.css">
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/handlebars-1.0.0.beta.6.js"></script>
    <script src="/static/js/otclass.js"></script>
    <script src="/static/js/otmes.js"></script>
    
    <script id="users_tmpl" type="text/x-handlebars-template">
        {% raw %}
            <table id="table_users_list" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Имя</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <td class='no_select_on_dbl_click' data-name={{this}}>
                                {{this}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {% endraw %}
    </script>

    <script id="view_user_tmpl" type="text/x-handlebars-template">
        {% raw %}
            <div id="div_user_info" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ login }}</h3>
              </div>
              <div class="modal-body">
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Основное
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                      <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_login">Login</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_login" value="{{ login }}" {{#if new_user}}sfsdf{{/if}}disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_password">Password</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_password">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Дополнительное
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_iname">Имя</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_iname" value="{{iname}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_fname">Фамилия</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_fname" value="{{fname}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_input_bdate">Дата рождения</label>
                          <div class="controls">
                            <input type="text" id="user_info_input_bdate" placeholder="дд.мм.гггг" value="{{birth_date}}" disabled>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_hintq">Секретный вопрос</label>
                          <div class="controls">
                            <input type="text" id="user_info_hintq" value="{{hintq}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_hinta">Секретный вопрос</label>
                          <div class="controls">
                            <input type="text" id="user_info_hinta" value="{{hinta}}">
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="user_info_sex_1">Пол</label>
                          <div class="controls">
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="user_info_sex_1" value="1" {{#if sex}}checked{{/if}}>
                              М
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="user_info_sex_2" value="2" {{#if sex}} {{else}}checked{{/if}}>
                              Ж
                            </label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Отмена</button>
                <button id="btn_save_user" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
        {% endraw %}
    </script>


    <script type="text/javascript">
        $(document).ready(function(){
            // Настройка вывода ошибок и информации
            m = new otmes ('', {});
            if (!localStorage.getItem('do_not_show_info_alert')) {
                $('#info_alert').show();
            }
            
            // Подготовка данных об актуальности списка пользователей
            var server_start_time = {{server_start_time}},
                last_sync = localStorage.getItem('yadmin_users_list_last_sync_time');
            
            // Проверяем актуальность списка пользователей
            if (last_sync != server_start_time) {
                localStorage.setItem('yadmin_users_list_last_sync_time', String(server_start_time));
                localStorage.removeItem('do_not_show_info_alert');
                console.log('last_sync', last_sync, 'server_start_time', server_start_time);
                console.log('refreshing');
                refresh_users_list()
                    .done(function(data){
                        initial_draw();
                        // demo = new OTCLASS({
                        //   'id':'users_list',
                        //   'data':tmp_data,
                        //   'div_id': 'container',
                        //   'tmpl_id': 'tmpl',
                        //   'sort':'age',
                        //   'debug':1
                        // });
                    });
            } else {
                initial_draw();
            }
            
            // Вешаем события на различные действия
            $(document).on('click', 'div.btn-group button:even', function(){
                $('div.btn-group button.btn-primary').removeClass('btn-primary');
                $(this).addClass('btn-primary').next().addClass('btn-primary');
                // console.log($(this), 'was clicked');
                localStorage.setItem('current_domain', $(this).data('domain'));
                draw_users(convert_users_to_list(JSON.parse(localStorage.getItem('yadmin_users_'+$(this).data('domain')))));
            })
            $(document).on('dblclick', '#table_users_list td', function(){
                view_user($(this).data('name'));
            })
            $(document).on('click', '#close_info_alert', function(){
                localStorage.setItem('do_not_show_info_alert', 1);
            })

            $('#filter_str').on('keydown', function(event){
                if (event.keyCode==13){
                    event.preventDefault();
                    filter_users();
                } else if (event.keyCode==27) {
                    $('#filter_str').val('');
                    filter_users();
                }
            })

            $("#btn_filter_users").on('click', function(e){
                filter_users();
                e.preventDefault();
            });

            $("#btn_add_user").on('click', add_user);

            $(document).on('click', "#btn_save_user", save_user);



        }) // document.ready
        
        function save_user(){
            var param = {login: $('#user_info_input_login').val(),
                         iname: $('#user_info_input_iname').val(),
                         fname: $('#user_info_input_fname').val()}
            console.log(param);
        }

        function add_user(){
            if ($("#div_user_info").length){
                $("#div_user_info").remove()
            } 
            var login = $('#filter_str').val(),
                view_user_modal = Handlebars.compile($('#view_user_tmpl').html());
            $(view_user_modal({login: login, new_user: 1})).modal();
        }
        
        function view_user(login){
            if ($("#div_user_info").length){
                $("#div_user_info").remove();
            }
            var view_user_modal = Handlebars.compile($('#view_user_tmpl').html());
            $.getJSON('/mu', {do_what: 'get_user_info', login: login, domain: localStorage.getItem('current_domain')}).done(function(data){
                if (data.success){
                    console.log(data.items);
                    $(view_user_modal(data.items)).modal();
                } else{
                    m.e(data.err);
                    m.m(data.msg);
                }
            })
        }

        function initial_draw(){
            console.log('initial_draw');
            var first_button = $('div.btn-toolbar').find('div.btn-group').eq(0).find('button').eq(0);
            first_button.addClass('btn-primary').next().addClass('btn-primary');
            draw_users(convert_users_to_list(JSON.parse(localStorage.getItem('yadmin_users_'+first_button.data('domain')))));
            localStorage.setItem('current_domain', first_button.data('domain'));
        }

        function draw_users(users){
            // Обновляем таблицу
            var users_template = Handlebars.compile($('#users_tmpl').html());
            $("#users_table").empty().append(users_template({items: users}));
        }

        function filter_users(){
            var search_str = $("#filter_str").val(),
                users = JSON.parse(localStorage.getItem('yadmin_users_'+localStorage.getItem('current_domain'))),
                tmp = convert_users_to_list(users);

            var res = $.grep(tmp, function(elem){
                return elem.indexOf(search_str)+1;
            })
            console.log(res);
            draw_users(res);
        }

        function convert_users_to_list(users){
            var tmp=[];
            for (var i in users){
                tmp.push(users[i]['name']);
            }
            return tmp
        }

        function refresh_users_list(){
            return $.getJSON('/mu', {do_what: 'refresh_users_list'}).done(function(data){
                if (data.success){
                    $.each(data.items, function(key, val){
                        localStorage.setItem('yadmin_users_'+key, JSON.stringify(val));    
                    })
                    console.log('Список пользователей обновлён');
                    $(document).trigger('users_list_freshness_ok');
                } 
            });
        }
    </script>
</head>

<body>
    <div class='container'>
        <!-- <div class="navbar">
            <div class="navbar-inner"> -->
                <div class='btn-toolbar'>
                    {% for i in domains %}
                        <div class="btn-group">
                            <button class="btn" data-domain="{{ i }}" data-do_what="list_users"> {{ i }}
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class='dropdown-menu'>
                                    <li><a href="#">Настройки домена</a></li>
                                </ul>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            <!-- </div>
        </div> -->
        
        <div id="divError"></div>
        <div id="divMessage"></div>
        <div id="divDebug"></div>

        <!-- <div class="tab-content"> -->
        <!-- <form class="form-search">
          <div class="input-append">
            <input type="text" placeholder="Имя" id="filter_str" class="search-query" autocomplete="off">
            <button id="btn_filter_users" class="btn">Отбор</button>
          </div>
          <button class="btn btn-primary" type="button"><i class="icon-plus icon-white"></i> Добавить</button>
        </form> -->

        <div class="input-append">
          <input type="text" placeholder="Имя" id="filter_str" autocomplete="off">
          <button id="btn_filter_users" class="btn">Отбор</button>
          <button id="btn_add_user" class="btn" type="button"><i class="icon-plus"></i> Добавить</button>
        </div>



        <div class="alert alert-info" style="display: none;" id="info_alert">
            <button type="button" class="close" data-dismiss="alert" id='close_info_alert'>×</button>
            Двойной клик на пользователе для редактирования
        </div>
        
        <div id='users_table'>
            
        </div>
        
        <!-- </div> -->
        <!-- <div class="container-fluid">
            <span class='span4 offset4'id="dp_nav"></span>
        </div> -->
    </div>
    
</body>
</html>